@media only screen and(max-width:990px){
    
    .article-cent {
        
        text-align:center;
        
    } 
    
    .article-cent img{
        
        margin:auto;
    }
    
    
    
}

@media only screen and(max-width:800px) {
    
    .herobg h1 {
    float: none;
    width: 100%;
    font-size: 5.1em;
    margin-top: 60%;
    text-align: center;
    padding-bottom: 10%;

}
    
    
}



@media only screen and(max-width:580px){
    
    .abouttext {
    font-family: 'Raleway', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    font-size: .8em;
    line-height: 2em;
}
        
}

    .particle {
    text-align: center;
    margin-right: 0px;
   
}
    .herobg{
        background-position: -100px center;
        
    } 